flows.json
[{"id":"096f728834c02efc","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"952f36d9e40c3a3b","type":"ui_form","z":"096f728834c02efc","name":"","label":"","group":"09fd7e32edd9014f","order":5,"width":0,"height":0,"options":[{"label":"AVGHEARTBEATSPERMIN","value":"avg","type":"text","required":true,"rows":null},{"label":"PALPITATIONSPERDAY","value":"palp","type":"text","required":true,"rows":null},{"label":"CHOLESTEROL","value":"chol","type":"text","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"text","required":true,"rows":null},{"label":"AGE","value":"ag","type":"text","required":true,"rows":null},{"label":"EXERCISEMINPERWEEK","value":"ex","type":"text","required":true,"rows":null}],"formValue":{"avg":"","palp":"","chol":"","bmi":"","ag":"","ex":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":170,"y":100,"wires":[["17fb33a3654996bf"]]},{"id":"f9b4bf8a9696d4ff","type":"ui_dropdown","z":"096f728834c02efc","name":"","label":"Heartfailure","tooltip":"","place":"Select option","group":"09fd7e32edd9014f","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"yes","value":"Y","type":"str"},{"label":"No","value":"N","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":190,"y":200,"wires":[["7aa9907f5f0c66bd"]]},{"id":"753dfac5cffde697","type":"ui_dropdown","z":"096f728834c02efc","name":"","label":"sex","tooltip":"","place":"Select option","group":"09fd7e32edd9014f","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"female","value":"F","type":"str"},{"label":"male","value":"M","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":230,"y":280,"wires":[["47f19bd21a0f9e31"]]},{"id":"498c336710f53a5a","type":"ui_dropdown","z":"096f728834c02efc","name":"","label":"familyhistory","tooltip":"","place":"Select option","group":"09fd7e32edd9014f","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"yes","value":"Y","type":"str"},{"label":"no","value":"N","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":270,"y":380,"wires":[["548091f05de546fa"]]},{"id":"dc24bb06934d4406","type":"ui_dropdown","z":"096f728834c02efc","name":"","label":"smoker","tooltip":"","place":"Select option","group":"09fd7e32edd9014f","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"yes","value":"Y","type":"str"},{"label":"no","value":"N","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":280,"y":480,"wires":[["4a09280cb3ede5e5"]]},{"id":"ba75f5677d0b69ab","type":"debug","z":"096f728834c02efc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":140,"wires":[]},{"id":"3c081e6bfa15e26d","type":"debug","z":"096f728834c02efc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":200,"wires":[]},{"id":"513bed704faaf1db","type":"debug","z":"096f728834c02efc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":280,"wires":[]},{"id":"b548e502647b86be","type":"debug","z":"096f728834c02efc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":380,"wires":[]},{"id":"45861253f5263d79","type":"debug","z":"096f728834c02efc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":480,"wires":[]},{"id":"17fb33a3654996bf","type":"function","z":"096f728834c02efc","name":"global","func":"global.set(\"avg\",msg.payload.avg)\nglobal.set(\"palp\",msg.payload.palp)\nglobal.set(\"chol\",msg.payload.chol)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"ag\",msg.payload.ag)\nglobal.set(\"ex\",msg.payload.ex)\nvar apikey=\"cGR6xpd01IF5K_m2OT9T525h8OwOsnXP03krJadIYOqC\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":100,"wires":[["ba75f5677d0b69ab","2ea33a18327769db"]]},{"id":"7aa9907f5f0c66bd","type":"function","z":"096f728834c02efc","name":"","func":"global.set(\"hf\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":200,"wires":[["3c081e6bfa15e26d"]]},{"id":"47f19bd21a0f9e31","type":"function","z":"096f728834c02efc","name":"","func":"global.set(\"sx\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":280,"wires":[["513bed704faaf1db"]]},{"id":"548091f05de546fa","type":"function","z":"096f728834c02efc","name":"","func":"global.set(\"fh\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":380,"wires":[["b548e502647b86be"]]},{"id":"4a09280cb3ede5e5","type":"function","z":"096f728834c02efc","name":"","func":"global.set(\"sm\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":480,"wires":[["45861253f5263d79"]]},{"id":"2ea33a18327769db","type":"http request","z":"096f728834c02efc","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":510,"y":100,"wires":[["49fac34bd74c05f9","d04406823a2069a9"]]},{"id":"49fac34bd74c05f9","type":"debug","z":"096f728834c02efc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":100,"wires":[]},{"id":"d04406823a2069a9","type":"function","z":"096f728834c02efc","name":"","func":"var avg = global.get(\"avg\")\nvar palp=global.get(\"palp\")\nvar chol=global.get(\"chol\")\nvar bmi=global.get(\"bmi\")\nvar hf=global.get(\"hf\")\nvar ag=global.get(\"ag\")\nvar sx=global.get(\"sx\")\nvar fh=global.get(\"fh\")\nvar sm=global.get(\"sm\")\nvar ex=global.get(\"ex\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type':'application/json','Authorization':'Bearer '+token}\nmsg.payload={\"input_data\": [{\"fields\": [[\"palp\",\"chol\",\"bmi\",\"hf\",\"ag\",\"sx\",\"fh\",\"sm\",\"ex\"]],\"values\":[[palp,chol,bmi,hf,ag,sx,fh,sm,ex]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":40,"wires":[["4ba515e9266ff17b"]]},{"id":"4ba515e9266ff17b","type":"http request","z":"096f728834c02efc","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/8c0ae728-0393-435d-9d7c-1352361e909a/predictions?version=2022-07-31","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":810,"y":40,"wires":[["3bcedc9b4a92cb43","2f859d35779ff826"]]},{"id":"3bcedc9b4a92cb43","type":"debug","z":"096f728834c02efc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":100,"wires":[]},{"id":"2f859d35779ff826","type":"function","z":"096f728834c02efc","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":40,"wires":[["d275d5a2d42fb376","b49fa5e4a7a45127"]]},{"id":"d275d5a2d42fb376","type":"debug","z":"096f728834c02efc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":180,"wires":[]},{"id":"b49fa5e4a7a45127","type":"ui_text","z":"096f728834c02efc","group":"09fd7e32edd9014f","order":5,"width":0,"height":0,"name":"","label":"The prediction value is","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":40,"wires":[]},{"id":"09fd7e32edd9014f","type":"ui_group","name":"Enter the values","tab":"e913b044b32cdf16","order":1,"disp":true,"width":"6","collapse":false},{"id":"e913b044b32cdf16","type":"ui_tab","name":"HD","icon":"dashboard","disabled":false,"hidden":false}]